{% extends 'base.html' %}
{% block content %}

 <div class="panel panel-default">
     <div class="panel-heading"><strong>Home</strong></div>
     <div class="panel-body">
         Bem-vindo(a)  <a href="{% url 'perfil' %}">
         {% if usuario.nome %}
           {{usuario.nome}}
         {% endif %}

         {% if not usuario.nome %}
           {{usuario.email}}
         {% endif %}
         !
       </a>
     </div>
 </div>

 <div class="panel panel-default">
     <div class="panel-heading"><strong>Feed de Posts</strong></div>
     <div class="panel-body">
       <table>
         {% if posts %}
           {% for p in posts %}
               <tr>
                 <div class="panel panel-default">
                   <div class="panel-heading"><strong>{{p.titulo}}</strong></div>
                   <div class="panel-body">
                     <p class="post-text">{{p.texto}}
                       {% for m in p.marcados %}
                         - <a href="{% url 'perfil' %}{{m.id}}">@{{m.nome}} </a>
                       {% endfor %}
                     </p>
                     {% if p.arquivo %}
                       {% if p.video %}
                         <video width="320" height="240" controls>
                           <source src="../../../static/media/{{p.arquivo}}">
                         </video>
                       {% else %}
                         <img class="post-image" src="../../static/media/{{p.arquivo}}">
                       {% endif %}
                     {% endif %}
                     <i>- Postado por <a href="{% url 'perfil' %}{{p.usuario_id}}"> @{{p.autor}}</a> em {{p.data_hora}}</i>
                     {% if editavel %}
                       <a class="post-edit" href="{% url 'post_editar' %}{{p.id}}/">editar</a>
                     {% endif %}
                   </div>
                 </div>
               </tr>
           {% endfor %}
         {% endif %}
       </table>

     </div>
 </div>

{% endblock %}
