{% extends 'base.html' %}
{% block content %}

 <div class="panel panel-default">
     <div class="panel-heading"><strong>Pesquisar Pets para Doação</strong></div>
     <div class="panel-body">
         {% include "anuncios/busca_form.html" %}
     </div>
 </div>

 <div class="panel panel-default">
     <div class="panel-heading"><strong>Meus Anúncios</strong></div>
     <div class="panel-body">
         <p><a href="{% url 'anuncio_novo' %}">Novo Anúncio</a></p>
         
         {% for anuncio in meus_anuncios %}
            <p>
                <b>{{anuncio.pet.nome}}</b> <br>
                <i>{{anuncio.status}}</i> <br>
                <a href="{% url 'anuncio_editar' anuncio.id %}">Editar</a> 
                <a href="{% url 'requisito_index' anuncio.id %}">Requisitos</a> 
                <a href="{% url 'processo_index' anuncio.id %}">Candidatos</a> 
                <a href="{% url 'anuncio_excluir' anuncio.id %}" onclick="return confirm('Tem certeza?')">Excluir</a>
            </p>
         {% endfor %}
     </div>
 </div>

 <div class="panel panel-default">
     <div class="panel-heading"><strong>Processos de Doação em Andamento</strong></div>
     <div class="panel-body">
         {% for processo in meus_processos %}
         <a href="{% url 'anuncio_visualizar' processo.anuncio.id %}">{{processo.anuncio.pet.nome}}</a> <br>
         {% endfor %}
     </div>
 </div>

{% endblock %}
