{% extends 'base.html' %}
{% block content %}

 <div class="panel panel-default">
     <div class="panel-heading"><strong>Pets Para Doação</strong></div>
     <div class="panel-body">
        <p>Buscando: <i>{{request.GET.q}}</i></p>
        
        {% include "anuncios/busca_form.html" %}
        
        <h3>Resultados</h3>
        
        {% if anuncios.count == 0 %}

            <p>Nada encontrado...</p>

        {% else %}

            {% for a in anuncios %}
                <p>
                <b>{{a.pet.nome}}</b> <br>
                <a href="{% url 'anuncio_visualizar' a.id %}">Ver anúncio</a> <br>
                <a href="{% url 'pet_perfil' a.pet.id %}">Perfil do Pet</a>
                </p>
            {% endfor %}

        {% endif %}         
     </div>
 </div>

{% endblock %}
