{% extends 'base.html' %}
{% load dicionarios %}

{% block content %}

 <div class="panel panel-default">
     <div class="panel-heading"><strong>{{anuncio.pet.nome}}</strong></div>
     <div class="panel-body">
        
        <img align="right" width="300" alt="{{anuncio.pet.nome}}" src="/static/media/{{anuncio.pet.foto_set.first.arquivo}}">
        <p>
        <a href="{% url 'pet_perfil' anuncio.pet.id %}">Perfil do Pet</a> <br>
        {% if status|count == 0 %}
            <a href="{% url 'processo_criar' anuncio.id %}">Candidatar-se</a>
        {% else %}
            <i>Você está se candidatando a adotar este pet! :)</i> 
            <a href="{% url 'processo_cancelar' anuncio.id %}" onclick="return confirm('Desistir de adotar o Pet?');">Cancelar</a>
        {% endif %}
        </p>
        
        <p>{{descricao}}</p>
        <br clear="all">
        <h3>Requisitos</h3>
        
        {% for r in requisitos %}
            
            <p>
            <b>{{r.titulo}}</b> <br>
            <i>{{r.tipo}} {% if r.peso %} (peso: {{r.peso}}) {% endif %}<i>
            {% if status|count > 0 %} | <u>{{status|keyvalue:r.titulo}}</u> {% endif %} <br>
            {{descricoes_reqs|keyvalue:r.id}}
            </p>
        
        {% endfor %}
               
     </div>
 </div>

{% endblock %}
