{% load l10n %}
{% csrf_token %}

<table>
  <tr>
    {% if editavel %}<a href="{% url 'post_novo' %}"> Fazer um post</a>{% endif %}
  </tr>
  {% if posts %}
    {% for p in posts %}
        <tr>
          <div class="panel panel-default">
            <div class="panel-heading"><strong>{{p.titulo}}</strong></div>
            <div class="panel-body">
              <p class="post-text">{{p.texto}}
                {% for m in p.marcados %}
                  - <a href="{% url 'perfil' %}{{m.id}}">@{{m.nome}} </a>
                {% endfor %}
              </p>
              {% if p.arquivo %}
                {% if p.video %}
                  <video width="320" height="240" controls>
                    <source src="../../../static/media/{{p.arquivo}}">
                  </video>
                {% else %}
                  <img class="post-image" src="../../../static/media/{{p.arquivo}}">
                {% endif %}
              {% endif %}
              <i>- Postado em {{p.data_hora}}</i>
              {% if editavel %}
                <a class="post-edit" href="{% url 'post_editar' %}{{p.id}}/">editar</a>
              {% endif %}
            </div>
          </div>
        </tr>
    {% endfor %}
  {% endif %}
</table>

<!--<table>
  <tr>
    {% if editavel %}<a href="{% url 'post_novo' %}"> Fazer um post</a>{% endif %}
  </tr>
  {% if posts %}
    {% for p in posts %}
        <tr>
          <h3>{{p.titulo}}</h3>
          {% for m in p.marcados %}
            <a href="{% url 'perfil' %}{{m.id}}">@{{m.nome}} </a>
          {% endfor %}
        </br>
        {% if p.arquivo %}
          {% if p.video %}
           <video width="320" height="240" controls>
             <source src="../../../static/media/{{p.arquivo}}">
           </video>
          {% else %}
           <img src="../../../static/media/{{p.arquivo}}">
          {% endif %}
        {% endif %}
          <h4>{{p.texto}}</h4>
          <i>- Postado em {{p.data_hora}}</i> {% if editavel %}<a href="{% url 'post_editar' %}{{p.id}}/"> editar</a>{% endif %}
        </tr>
        <hr>
    {% endfor %}
  {% endif %}
</table>-->
