{% load l10n %}
{% csrf_token %}

<h4><i class="user-info-text">{{descricao}}</i></h4>
</br>
<p class="user-info-text">{% if usuario.nome %}<b>nome:</b> {{usuario.nome}}{% endif %}</p>
<p class="user-info-text">{% if usuario.email %}<b>email:</b> {{usuario.email}}{% endif %}</p>
<p class="user-info-text">{% if usuario.rua %}<b>rua:</b> {{usuario.rua}}{% endif %}</p>
<p class="user-info-text">{% if usuario.bairro %}<b>bairro:</b> {{usuario.bairro}}{% endif %}</p>
<p class="user-info-text">{% if usuario.cidade %}<b>cidade:</b> {{usuario.cidade}}{% endif %}</p>
<p class="user-info-text">{% if usuario.estado %}<b>estado:</b> {{usuario.estado}}{% endif %}</p>
<p class="user-info-text">{% if usuario.cep %}<b>cep:</b> {{usuario.cep}}{% endif %}</p>
<p class="user-info-text">{% if usuario.telefone %}<b>telefone:</b> {{usuario.telefone}}{% endif %}</p>
