{% extends 'base.html' %}
{% block content %}

 <div class="panel panel-default">
     <div class="panel-heading"><strong>{% if usuario.nome %}{{usuario.nome}}{% endif %}
       {% if not usuario.nome %}{{usuario.email}}{% endif %}</strong></div>
     <div class="panel-body">
          {% include "perfil_info.html" %}
     </div>
 </div>
 <div class="panel panel-default">
     <div class="panel-heading"><strong> Posts Recentes</strong></div>
     <div class="panel-body">
       <p><a href="{% url 'meus_posts' %}{{usuario.id}}/"> Ver todos os posts</a></p>
       {% include "lista_de_posts.html" %}
     </div>
 </div>

{% endblock %}
