{% extends 'base.html' %}
{% block content %}

<div class="perfil-div">
  <div class="user-info-div">
    <div class="user-fixed-div">
      <img class="user-div-img" alt="{{
              {% if usuario.nome %}
                {{usuario.nome}}
              {% endif %}
              {% if not usuario.nome %}
                {{usuario.email}}
              {% endif %}
            }}" src="/static/img/user.png">
        {% include "perfil_info.html" %}
    </div>
  </div>
  <div class="posts-div">
    <p class="posts-title">Posts Recentes</p>
      <p><a href="{% url 'meus_posts' %}{{usuario.id}}/"> Ver todos</a></p>
      {% include "lista_de_posts.html" %}
  </div>
  <div class="doacoes-div">
    <div class="meus-pets-div">
      <p class="posts-title">Meus Pets</p>
      <div class="pet-list-div">
        {% for p in pets %}
          <div class="pet-div">
            {% if p.foto_set.first.arquivo %}
            <img class="pet-div-img" alt="{{p.nome}}" src="/static/media/{{p.foto_set.first.arquivo}}">
            {% else %}
            <img class="pet-div-img" alt="{{p.nome}}" src="/static/img/avatar1.png">
            {% endif %}

            <a class="pet-div-name" href="{% url 'pet_perfil' p.id %}">{{p.nome}}</a>
          </div>
        {% endfor %}
      </div>
      <p><a href="{% url 'pets_index' %}"> Ver todos</a></p>
    </div>
    <hr>
    <!--<div class="outras-doacoes-div">
      <p class="posts-title">Doações</p>
      <p><a href="{% url 'anuncio_index' %}"> Ver todas</a></p>
    </div>-->
  </div>
</div>

<!-- <div class="panel panel-default">
     <div class="panel-heading"><strong>{% if usuario.nome %}{{usuario.nome}}{% endif %}
       {% if not usuario.nome %}{{usuario.email}}{% endif %}</strong></div>
     <div class="panel-body">
          {% include "perfil_info.html" %}
     </div>
 </div>
 <div class="panel panel-default">
     <div class="panel-heading"><strong> Posts Recentes</strong></div>
     <div class="panel-body">
       <p><a href="{% url 'meus_posts' %}{{usuario.id}}/"> Ver todos os posts</a></p>
       {% include "lista_de_posts.html" %}
     </div>
 </div>-->

{% endblock %}
