{% extends 'base.html' %}
{% block content %}

 <div class="panel panel-default">
     <div class="panel-heading"><strong>Anúncio de Doação - Candidatos</strong></div>
     <div class="panel-body">
         <h3>{{anuncio.pet.nome}}</h3>
         
         <p><b>Candidatos:</b></p>
         
         {% for p in processos %}
             <p>
             <a href="{% url 'processo_requisitos' p.id %}">{{p.candidato.nome}}</a>
             </p>
         {% endfor %}
     </div>
 </div>
 
 
 <div class="panel panel-default">
     <div class="panel-heading"><strong>Cumprem os requisitos obrigatórios</strong></div>
     <div class="panel-body">
         <table class="table">
            <tr>
                <th>Candidato</th>
                <th>Pontuação <br> (reqs. opcionais)</th>
            </tr>
            {% for r in ranking %}
            <tr> 
                <td>{{r.2}}</td>
                <td>{% if r.3 == None %} 0 {% else %} {{r.3}} {% endif %}</td>
                <td>
                    <a href="">Doar</a>
                </td>
            </tr>
            {% endfor %}
         </table>
     </div>
 </div>
 
 {% endblock %}
