{% load l10n %}
{% csrf_token %}

 <p>
 Nome: <br>
 <input type="text" name="nome" maxlength="80" value="{{pet.nome}}">
 </p>

 <p>
 Especie: <br>
 <input type="text" name="especie" maxlength="80" value="{{pet.especie}}" >
 </p>

 <p>
 Data de nascimento: <br>
 <input type="date" name="data_nascimento" value="{{pet.data_nascimento|unlocalize}}">
 </p>

 <p>
 Descrição: <br>
 <textarea name="descricao">{{pet.descricao}}</textarea>
 </p>

 <p>
Fotos: <br>
<input type="file" name="arquivo" accept="image/*" multiple/>
<input name="clear_file" type="button" value="Cancelar upload" onclick="clearFile();" />
 </p>

 <script type="text/javascript">

    function clearFile(){
      var arq = document.getElementsByName("arquivo");
      arq[0].value = "";
    }
</script>
