{% extends 'base.html' %}
{% block content %}

 <div class="panel panel-default">
     <div class="panel-heading"><strong>Seus Pets</strong></div>
     <div class="panel-body">
       <p>
         <a href="{% url 'pet_novo' %}">Adicionar novo pet</a>  <br>
       </p>
       <p>
         <ul>
         {% for p in pets %}
             <li ><a href="{% url 'pet_perfil' p.id %}">{{p.nome}}</a> <a href="{% url 'pet_editar' p.id %}">Editar</a> <a href="{% url 'pet_remover' %}">Remover</a></li>
         {% endfor %}
        </ul>
       </p>
     </div>
 </div>

{% endblock %}
