.centered {

}

.pet-img-bigger {
  min-width: 160px;
  min-height: 160px;
}

.pets-pet-div {
  display: flex;
  flex-direction: column;
}

.pet-pet-div {
}

.pet-gallery-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pet-photo {
  width: 10vw;
  min-width: 160px;
}
