<!DOCTYPE html>
<html lang="pt-br">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>eAdopt</title>
    <script src="{% static 'scripts/vendor/jquery-1.9.1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/signin.css' %}">
</head>

<body>

<header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">eAdopt</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
               {% if 'usuario_id' in request.session %}
                    <li>
                        <a href=" {% url 'usuario_editar' %} ">Editar Perfil</a>
                    </li>
                    <li>
                        <a href="{% url 'usuario_logout' %}">Sair</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'usuario_novo' %}">Registre-se</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                 <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</main>

</body>
</html>
